[user]
	name = Steve Pentland
	email = stevepentland@gmail.com
	signingkey = 3742FA71B60E518C
[commit]
	gpgsign = true
[gpg]
	program = gpg
{{- if eq .chezmoi.hostname "steve-pentland" }}
[includeIf "gitdir:~/Working/FreshBooks/"]
	path = ~/Working/FreshBooks/freshbooks-git.inc
{{- end}}
[core]
 	excludesfile = /home/steve/.gitignore
