{{- if eq .chezmoi.hostname "laptop" }}
{{- with $items := (bitwarden "item" "Restic Settings").fields}}
B2_ACCOUNT_ID={{ (index $items 0).value }}
B2_ACCOUNT_KEY={{ (index $items 1).value }}
RESTIC_REPOSITORY={{ (index $items 2).value }}
RESTIC_PASSWORD={{ (index $items 3).value }}
{{- end}}
{{- else if eq .chezmoi.hosname "steve-pentland" }}
{{- with $items := (bitwarden "item" "Restic Work").fields}}
B2_ACCOUNT_ID={{ (index $items 0).value }}
B2_ACCOUNT_KEY={{ (index $items 1).value }}
RESTIC_REPOSITORY={{ (index $items 2).value }}
RESTIC_PASSWORD={{ (index $items 3).value }}
{{- end}}
{{- end}}
